<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootswatch/yeti/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>        
    @Html.Partial("~/Features/Shared/_SideBar.cshtml")
    <div id="wrapper">
        <nav class="navbar-inverse">            
            @Html.Partial("~/Features/Shared/_TopBar.cshtml")
        </nav>
        <div id="main" class="container-fluid">
            <div>
                @RenderBody()
            </div>
        </div>
        @Html.Partial("~/Features/Shared/_BottomBar.cshtml")
    </div>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"> </script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @*<script type="text/javascript" src="~/js/site.js"></script>*@
    @RenderSection("scripts", false)
</body>
</html>


